<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/img.css">
</head>

<body>
    <h2 class="head">豚鼠</h2>
    <img class="img1" src="images/IMG_20220809_175019_332.jpg" alt="MU lost head" />
    <img class="img2" src="images/IMG_20220809_174956_803.jpg" alt="HERO lost head">

    <p>豚鼠（學名：Cavia porcellus），又名天竺鼠、葵鼠、荷蘭豬，在動物學的分類是哺乳綱齧齒目豚鼠科豚鼠屬。儘管英文名字叫「guinea
        pig」(幾內亞豬)，但是這種動物既不是豬，也並非來自幾內亞。其祖先來自南美洲的安第斯山脈，根據生物化學和雜交分析，豚鼠是一種天竺鼠諸如白臀豚鼠（C. aperea）、艷豚鼠（C. fulgida）或草原豚鼠（C.
        tschudii）等近緣物種經過馴化的後代。因此，這種動物在大自然已經不復存在[1][2]。南美原住民的文化中，豚鼠占有重要地位，它們不僅是一種食物來源，也是一種藥物來源和宗教儀式的祭品[3]。從1960年代以後，在南美洲以外地區對豚鼠的需求開始增漲[4]。
    </p>
    <p>豚鼠是由16世紀的歐洲商人帶到西方的，當時人們就很喜歡這種小動物並作為寵物飼養。牠們性情溫順，討巧可愛，比較容易照顧，至今仍舊是常見的家養寵物。世界上有些組織爭先恐後地致力繁殖豚鼠，人們培育出了多種毛色不一，形態不同的品種。
    </p>
    <p>
        20世紀上半葉，在英語裡豚鼠成為參與科學實驗的人的流行代名詞。在豚鼠身上進行生物實驗從17世紀就開始了，在19世紀和20世紀這種動物一般被當作模式生物，後來普遍被老鼠等別的哺乳動物取代。如今，豚鼠仍舊用於科學研究，主要針對脊髓損傷、少年糖尿病、肺結核、壞血症和懷孕併發症等人類常見疾病。
        歷史</p>
    <p>在南美洲，豚鼠是一種食物來源
        公元前5000年，南美洲安第斯山脈地區（今天的厄瓜多、秘魯和波利維亞）的土著部落首先飼養馴化豚鼠作為食物來源[5]。秘魯和波利維亞出土了屬於大約公元前500年到公元500年之間的豚鼠雕像[6],
        古代秘魯的摩且人不但膜拜動物，而且經常在藝術作品中描述豚鼠[7]。大約從公元1200年直至1532年西班牙人入侵，人們對家養的豚鼠進行選擇性繁殖，奠定了現代人工繁殖豚鼠的基礎[8]。這個區域繼續把豚鼠作為食物來源，安第斯高地的大部分家庭都飼養這種動物，它們以主人的殘剩菜葉為生[9]。安第斯地區的民間文化內容豐富，其中豚鼠是重要標誌。人們把它們當作禮品交換，它們是社交活動和宗教場所重要物品，甚至在日常口頭禪中也經常提到豚鼠[10]。豚鼠對民間的巫醫也很重要，他們用這種動物診斷諸如黃疸、風濕病、關節炎和斑疹傷寒等病症[11]。巫醫用豚鼠在病人的身體上摩擦，視它們通靈的媒介[12]。黑色豚鼠尤其被看作有效的診斷工具[13]。人們還將豚鼠開膛剖肚，取出其內臟用來檢驗治療效果[14]。這種方法至今仍舊在安第斯山脈地區的許多部落廣泛採用，那裡的人們既不能獲得也不信任西藥和西醫[15]。
    </p>
    <p>西班牙、荷蘭和英國商人把豚鼠帶到歐洲之後，這種動物迅速成為上層社會和皇室的時髦寵物，甚至伊莉莎白女王也飼養豚鼠[5]。有關豚鼠最早的文字記錄可以追溯到公元1547年的聖多明哥，因為豚鼠並非伊斯帕尼奧拉島的土產，所以這種動物很可能是被西班牙的旅行者帶來的[1]。西方世界有關豚鼠的首次記載於1554年，出自瑞士自然學家康拉德·格斯納之手[16]。這個含有兩個單詞的學名於1777年首次被俄克斯勒本採用，是其動物學上的種名和屬名的結合體[1]。
    </p>
    <p>命名
        幾內亞豬所屬的種名是Cavia
        porcellus，種加詞porcellus在拉丁語中是「小豬」的意思。Cavia是新拉丁語，源自卡比阿（cabiai），也是一種動物的名字，cabiai是法屬蓋亞那當地的加利比部落語言[17]。卡比阿（cabiai）可能系葡萄牙語çavia（如今是savia）的變體，後者本身源自圖皮語
        saujá，意為「老鼠」[18]。幾內亞豬在蓋丘亞語稱quwi或jaca，在厄瓜多、秘魯和玻利維亞的西班牙語裡是cuy
        或cuyo（複數形式是cuyes和cuyos）[19]。有趣的是，飼養者們提到這種動物時，傾向使用比較正式的cavy，而在科研和實驗領域裡，人們卻普遍喜愛使用幾內亞豬（guinea pig）這個更加口語化的詞彙[20]。
    </p>
    <p>這種動物的名字怎麼會有一個「豬」字，至今尚不清楚。它們的外形確實有幾分像豬，腦袋大、身材小、脖子粗、屁股圓，沒有那條無關緊要的尾巴，有時它們的聲音與豬發出的聲音相似，和豬一樣，它們花費大量的時候進食[21]。它們能夠在一個像「豬圈」那樣狹小的空間內存活很久，因而便於裝船運往歐洲[22]。
    </p>
    <p>這種動物的名字在歐洲許多語言裡均含有一個「豬」字。在德語裡，這種動物叫Meerschweinchen，意思是「小海豬」。（波蘭語的świnka morska，俄語的морская
        свинка也都是這個意思。）這與航海歷史有關：停止在新大陸索取補給的遠洋輪船選擇在船上儲存幾內亞豬作為便於運輸的鮮肉來源，德語裡的 Schweinswal，也就是海豚，是水手的另外一種食物。在法語裡是cochon
        d'Inde（印度豬）；荷蘭語裡是guinees biggetje（幾內亞豬崽）。不過也有例外：比如在西班牙通常叫conejillo de Indias（印度／印地小兔）[19]。</p>
    <p>「幾內亞豬」的「幾內亞」更加難以解釋。有一種看法認為，將這種動物運往歐洲的船隻曾經途經幾內亞，使得人們以為它們來自幾內亞[20]。幾內亞（Guinea）在英語裡學常常用來代指任何一個遙遠的，未知的國度。所以，這個稱號僅僅是表明這種動物的外來性的趣味表達[23]。還有一種說法認為，幾內亞（Guinea）是南美洲的蓋亞那（Guyana）的異體詞，不過幾內亞豬並非這個地區的特產[23][24]。有一種廣為流傳的錯誤說法，幾內亞豬之所以叫幾內亞豬是因為人們使用英國歷史上曾經通行的貨幣幾尼出售它們；這是毫無根據的，因為幾尼最早是在1663年投入使用的，而醫學家威廉·哈維發明「幾尼豬」（Ginny-pig）這個術語是在此之前的1653年[25]。其它的說法認為guinea(幾內亞)可能是coney
        (兔子)一詞的近似體。生物學家艾德華·托普塞爾1607年在他有關四足動物的論文裡稱這種動物「豬兔」（pig coneys）[20]。
    </p>

    <div>
        <p></p>
        <p></p>
        <h2 id="description">fd list</h2>
        <form id="survey-form">
            <p>
                <label id="name-label">你的名字</label>
                <input id="name" type="text" required="required" placeholder="請輸入您的名字"></input>
            </p>
            <p>
                <label id="email-label">電子信箱</label>
                <input id="email" type="email" required="required" placeholder="請輸入您的電子信箱"></input>
            </p>
            <p>
                <label id="number-label">數字選單(年齡)</label>
                <input id="number" type="number" inputmode="numeric" min="10" max="99" placeholder="年齡"></input>
            </p>
            <p>
                <label id="dropdown-label">這是下拉選單</label>
                <select id="dropdown">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </p>
            <p>
                <label id="radio-label">單選</label>
                <input type="radio" name="radio1" value="單選1">單選1</input>
                <input type="radio" name="radio1" value="單選2">單選2</input>
                <input type="radio" name="radio1" value="單選3">單選3</input>
                <input type="radio" name="radio1" value="單選4">單選4</input>
                <input type="radio" name="radio1" value="單選5">單選5</input>
            </p>
            <p>
                <label id="checkbox-label">複選</label>
                <input type="checkbox" name="checkbox1" value="複選1">複選1</input>
                <input type="checkbox" name="checkbox1" value="複選2">複選2</input>
                <input type="checkbox" name="checkbox1" value="複選3">複選3</input>
                <input type="checkbox" name="checkbox1" value="複選4">複選4</input>
                <input type="checkbox" name="checkbox1" value="複選5">複選5</input>
            </p>
            <p>評論表單: </p>
            <label id="texarea-label"></label>
            <textarea>
      </textarea>
            <div>
                <button type="submit" id="submit" class="submit-button">
                    Submit
                </button>
            </div>

        </form>

</body>

</html>