<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天竺鼠</title>
    <link rel="stylesheet" href="/css/lab1.css">
</head>

<body>
    <div class="article">
        <h2 class="titel"><span class="titeltext">豚鼠</span></h2>
        <figure>
            <img class="imgpu" src="/images/PUIEat.png" alt="MU lost head" />
            <figcaption>
                用生命吃草的天竺鼠
            </figcaption>

        </figure>


        <p>豚鼠（學名：Cavia porcellus），又名天竺鼠、葵鼠、荷蘭豬，在動物學的分類是哺乳綱齧齒目豚鼠科豚鼠屬。儘管英文名字叫「guinea
            pig」(幾內亞豬)，但是這種動物既不是豬，也並非來自幾內亞。其祖先來自南美洲的安第斯山脈，根據生物化學和雜交分析，豚鼠是一種天竺鼠諸如白臀豚鼠（C. aperea）、艷豚鼠（C. fulgida）或草原豚鼠（C.
            tschudii）等近緣物種經過馴化的後代。因此，這種動物在大自然已經不復存在[1][2]。南美原住民的文化中，豚鼠占有重要地位，它們不僅是一種食物來源，也是一種藥物來源和宗教儀式的祭品[3]。從1960年代以後，在南美洲以外地區對豚鼠的需求開始增漲[4]。
        </p>
        <p>豚鼠是由16世紀的歐洲商人帶到西方的，當時人們就很喜歡這種小動物並作為寵物飼養。牠們性情溫順，討巧可愛，比較容易照顧，至今仍舊是常見的家養寵物。世界上有些組織爭先恐後地致力繁殖豚鼠，人們培育出了多種毛色不一，形態不同的品種。
        </p>
        <p>
            20世紀上半葉，在英語裡豚鼠成為參與科學實驗的人的流行代名詞。在豚鼠身上進行生物實驗從17世紀就開始了，在19世紀和20世紀這種動物一般被當作模式生物，後來普遍被老鼠等別的哺乳動物取代。如今，豚鼠仍舊用於科學研究，主要針對脊髓損傷、少年糖尿病、肺結核、壞血症和懷孕併發症等人類常見疾病。
        </p>
        <h3>歷史</h3>
        <p>在南美洲，豚鼠是一種食物來源
            公元前5000年，南美洲安第斯山脈地區（今天的厄瓜多、秘魯和波利維亞）的土著部落首先飼養馴化豚鼠作為食物來源[5]。秘魯和波利維亞出土了屬於大約公元前500年到公元500年之間的豚鼠雕像[6],
            古代秘魯的摩且人不但膜拜動物，而且經常在藝術作品中描述豚鼠[7]。大約從公元1200年直至1532年西班牙人入侵，人們對家養的豚鼠進行選擇性繁殖，奠定了現代人工繁殖豚鼠的基礎[8]。這個區域繼續把豚鼠作為食物來源，安第斯高地的大部分家庭都飼養這種動物，它們以主人的殘剩菜葉為生[9]。安第斯地區的民間文化內容豐富，其中豚鼠是重要標誌。人們把它們當作禮品交換，它們是社交活動和宗教場所重要物品，甚至在日常口頭禪中也經常提到豚鼠[10]。豚鼠對民間的巫醫也很重要，他們用這種動物診斷諸如黃疸、風濕病、關節炎和斑疹傷寒等病症[11]。巫醫用豚鼠在病人的身體上摩擦，視它們通靈的媒介[12]。黑色豚鼠尤其被看作有效的診斷工具[13]。人們還將豚鼠開膛剖肚，取出其內臟用來檢驗治療效果[14]。這種方法至今仍舊在安第斯山脈地區的許多部落廣泛採用，那裡的人們既不能獲得也不信任西藥和西醫[15]。
        </p>
        <p>西班牙、荷蘭和英國商人把豚鼠帶到歐洲之後，這種動物迅速成為上層社會和皇室的時髦寵物，甚至伊莉莎白女王也飼養豚鼠[5]。有關豚鼠最早的文字記錄可以追溯到公元1547年的聖多明哥，因為豚鼠並非伊斯帕尼奧拉島的土產，所以這種動物很可能是被西班牙的旅行者帶來的[1]。西方世界有關豚鼠的首次記載於1554年，出自瑞士自然學家康拉德·格斯納之手[16]。這個含有兩個單詞的學名於1777年首次被俄克斯勒本採用，是其動物學上的種名和屬名的結合體[1]。
        </p>
        <h3>命名</h3>
        <p>
            幾內亞豬所屬的種名是Cavia
            porcellus，種加詞porcellus在拉丁語中是「小豬」的意思。Cavia是新拉丁語，源自卡比阿（cabiai），也是一種動物的名字，cabiai是法屬蓋亞那當地的加利比部落語言[17]。卡比阿（cabiai）可能系葡萄牙語çavia（如今是savia）的變體，後者本身源自圖皮語
            saujá，意為「老鼠」[18]。幾內亞豬在蓋丘亞語稱quwi或jaca，在厄瓜多、秘魯和玻利維亞的西班牙語裡是cuy
            或cuyo（複數形式是cuyes和cuyos）[19]。有趣的是，飼養者們提到這種動物時，傾向使用比較正式的cavy，而在科研和實驗領域裡，人們卻普遍喜愛使用幾內亞豬（guinea
            pig）這個更加口語化的詞彙[20]。
        </p>
        <p>這種動物的名字怎麼會有一個「豬」字，至今尚不清楚。它們的外形確實有幾分像豬，腦袋大、身材小、脖子粗、屁股圓，沒有那條無關緊要的尾巴，有時它們的聲音與豬發出的聲音相似，和豬一樣，它們花費大量的時候進食[21]。它們能夠在一個像「豬圈」那樣狹小的空間內存活很久，因而便於裝船運往歐洲[22]。
        </p>
        <p>這種動物的名字在歐洲許多語言裡均含有一個「豬」字。在德語裡，這種動物叫Meerschweinchen，意思是「小海豬」。（波蘭語的świnka morska，俄語的морская
            свинка也都是這個意思。）這與航海歷史有關：停止在新大陸索取補給的遠洋輪船選擇在船上儲存幾內亞豬作為便於運輸的鮮肉來源，德語裡的 Schweinswal，也就是海豚，是水手的另外一種食物。在法語裡是cochon
            d'Inde（印度豬）；荷蘭語裡是guinees biggetje（幾內亞豬崽）。不過也有例外：比如在西班牙通常叫conejillo de Indias（印度／印地小兔）[19]。</p>
        <p>「幾內亞豬」的「幾內亞」更加難以解釋。有一種看法認為，將這種動物運往歐洲的船隻曾經途經幾內亞，使得人們以為它們來自幾內亞[20]。幾內亞（Guinea）在英語裡學常常用來代指任何一個遙遠的，未知的國度。所以，這個稱號僅僅是表明這種動物的外來性的趣味表達[23]。還有一種說法認為，幾內亞（Guinea）是南美洲的蓋亞那（Guyana）的異體詞，不過幾內亞豬並非這個地區的特產[23][24]。有一種廣為流傳的錯誤說法，幾內亞豬之所以叫幾內亞豬是因為人們使用英國歷史上曾經通行的貨幣幾尼出售它們；這是毫無根據的，因為幾尼最早是在1663年投入使用的，而醫學家威廉·哈維發明「幾尼豬」（Ginny-pig）這個術語是在此之前的1653年[25]。其它的說法認為guinea(幾內亞)可能是coney
            (兔子)一詞的近似體。生物學家艾德華·托普塞爾1607年在他有關四足動物的論文裡稱這種動物「豬兔」（pig coneys）[20]。
        </p>
        <h3>特徵與生活環境</h3>
        <p>兩隻雜色的阿比西尼亞豚鼠
            豚鼠的體形在嚙齒類動物中偏大，體重在700－1200克（1.5－2.5磅）之間，體長在20－25厘米（8－10英寸）之間[26]。它們的平均壽命在4到5年之間，不過最長可活8年[27]。據2006年金氏世界紀錄，最長壽的豚鼠存活了14年10個月之久[28]。
        </p>
        <p>1990年代，個別人提出一個新的科學觀點：豚鼠小目類動物諸如豚鼠、南美栗鼠和八齒鼠不應列為嚙齒類動物，而應該在哺乳綱下專門成立一個獨立的目種[29][30]。經過對動物個體進行大量的調查研究，哺乳動物專家們達成一致：目前齧齒目分類是科學的[31][32]。
        </p>
        <h4>天然棲息地</h4>
        <p>豚鼠在野外已不復存在；它們可能是白臀豚鼠、艷豚鼠和草原豚鼠等豚鼠的後代，至今這些動物仍舊在南美洲的許多地區普遍分布[1]。豚鼠的某些種類直至20世紀才得到確認，如Cavia anolaimae和蓋亞那豚鼠（Cavia
            guianae），可能是家養豚鼠放生野外的品種[8]。大自然的豚鼠生活在草原上，與母牛具有相擬的生態位。它們是群居動物，野外的豚鼠家族包括一隻雄性，幾隻雌性和一群幼崽。幾個家族往往一起尋找雜草和或其他植物，它們沒有儲備食物的習性[33]。它們從不挖洞或築巢，只是頻繁得在其他動物棲身之處搬家，它們有時也住在植物的根部在岩石上留下的縫隙[33]。豚鼠的活動習性介於日行性和夜行性之間，每天在傍晚和拂曉最活躍，食肉動物在這兩個時間段比較難以發現它們[34]。
        </p>
        <h4>家養豚鼠習性</h4>
        <p>家養豚鼠繁殖力強大；人們通常讓幾隻雌性，或者一隻或多隻雌性與一隻去勢的雄性在一起生活。豚鼠懂得識別其他的同伴，並與它們交流。經過對雄性豚鼠的觀測得知，如果它們的雌性伴侶身邊出現其它陌生的雌性同類，這隻雄性的神經內分泌反應會顯著下降[35]。如果幾隻雄性豚鼠從小一起生活，其中沒有雌性同類，而籠子的空間足夠活動，那麼它們也許能夠和平相處[36]。家養的豚鼠與它們的野外同類具有不同的生物節律，它們睡眠時間較少，活動時間較長[34]。每天的活動無規律地分散在一天24小時內，除了迴避強光之外，它們沒有明顯得生活節奏模式可循[34]。
        </p>
        <p>貓與豚鼠和平共處，而這類種間互動的成功會因個體差異而不同
            家養豚鼠通常生活在籠子裡，有些飼養數量多的豚鼠主人讓它們在房間裡自由活動。籠子的地板有實心的，也有金屬網狀的，金屬網地板能夠弄傷豚鼠，可能也與腳掌發炎（足皮膚發炎潰爛）有關[37]。現在，「庫布斯和克勞普拉斯特（Cubes
            and
            Coroplast）」式的籠子是一個普及的選擇[38]。籠子裡面經常鋪有木刨花或類似的材料[39]。以前，墊層用的是軟木材紅杉木和松木，不過如今這些材料含有害的酚類化合物（芳香烴）和油脂[39]。豚鼠更喜歡亂七八糟的地方，它們經常跳進食碗裡，或是腳踢墊層，在裡面排便[40]。它們留在籠子表面的尿液結晶體相當難以清理。主人把籠子打掃乾淨以後，它們一定不忘在地板上拖拽著屁股，用尿液劃出自己的領土範圍[41]。雄性豚鼠即使不在籠子裡可能也會使用相同辦法給自己的地盤做標記。
        </p>
        <p>豚鼠個性溫馴，其他齧齒動物還可能欺負豚鼠[42]。個頭大一些的動物也許會把豚鼠當點心，經過訓練後這種情況不會發生，例如狗。豚鼠與八齒鼠一起是安全的，它們具有相同的食譜和類似的行為特徵[43]。至於家養豚鼠和家兔是否能夠一起混養，存在爭議。有人認為把這兩種動物放在同一個籠子裡相得益彰[43][44]。不過家兔的營養需求也與豚鼠不同，所以不宜遞餵相同的食物[45]。同時，家兔可能攜帶諸如博德特氏菌和巴斯德氏菌等呼吸道疾病菌，而豚鼠極易受到感染[46]。即使在家兔中體型最小的侏儒兔也比豚鼠強壯，它們可能有意或無意得傷害到豚鼠[47]。
        </p>
        <h3>行為叫聲</h3>
        <p>豚鼠知道如何穿過錯綜複雜的通道找到食物，而且在幾個月之內都不會忘記曾經走過的路線。解析是它們最有力的策略行為[48]。豚鼠會跳過小障礙物，它們不會攀爬，不是特別靈巧。它們極易受到驚嚇，感到危險存在時，不是長時間呆在原地，就是一溜兒煙藏起來[34]。如果一群豚鼠受到驚嚇，它們會亂作一團，紛紛四處逃竄，以此局面迷惑敵人[49]。它們興奮的時候就會反覆蹦來蹦去，這個動作很像雪貂的戰陣舞[50]。
        </p>
        <h4>相互清理身體的豚鼠</h4>
        <p>和多數齧齒動物一樣，豚鼠有時相互清理身體，它們也定期做自我清理[51]。它們的眼睛裡分泌出一種奶白色的物質，然後把這種物質塗在毛髮表面[52]。一群一起生活的雄性豚鼠經常相互咀嚼彼此的毛髮，這不僅僅是社會行為，更是確立每一隻豚鼠在這個群體中的地位等級的方法[53]。同時確立統治優勢的行為還有口咬（尤其是耳朵），立毛，挑畔性聲音，頭撞和跳躍攻擊[54]。在單性群體中，常有為老大提供模擬性交的現象發生。
        </p>
        <p>豚鼠的視力很差，但是聽覺、嗅覺和觸覺卻非常敏銳[55]。聲音是這個物種之間相互交流的主要手段[56]。</p>
        <h3>繁殖</h3>
        <p>豚鼠可以長年生育，生育高峰通常集中在春天；每年能產五窩小崽[8]。妊娠期長達59－72天，平均63－68天[41]。由於妊娠期偏長，胎兒體積過大，懷孕的母體明顯腫脹，看上去像一隻茄子，不過每隻母鼠的變化程度各有不同[53]。豚鼠的新生兒的毛髮，牙齒，爪子發育健全，而且具有部分視力。豚鼠一生下來即能活動，開始吃流質食物，不過還是要吸吮母乳[27]。一窩幼崽的數量從1－6隻不等，平均是3隻；最多的紀錄達17隻[60]。胎兒數量較少時，它們的體積過大，可能造成母鼠分娩困難。胎兒數量較多時，產生死胎的可能性較大。但是接生技術發展完善，即使缺少母乳，基本不會造成幼崽死亡[61]。在一起居住的母鼠彼此會為別的母鼠所生的幼崽哺乳[62]。
        </p>
        <p>除了大體上的外形尺寸，公豚鼠和母豚鼠在外貌上沒有太大區別。兩者的肛門都非常靠近生殖器。母豚鼠的外陰呈Y型，公豚鼠的生殖器與人類的陰莖相似，它們的肛門也一樣。如果在周圍部分按摩，它們的陰莖會突出[63]。雄性豚鼠的睪丸在陰囊隆起上可見。
        </p>
        <p>雄性豚鼠在大約3－5周即達到性成熟；而雌性豚鼠出生四周以後即能繁衍後代，她們在成年之前就能懷孕[64]。從不產子的雌性豚鼠通常是出生6個月後，骨盆內發生不可逆轉的恥骨聯合的結合[41]；如果發生在懷孕以後，那麼產道將不會有效拓寬，就可能導致分娩時難產或死亡[65]。她們生產後6－48小時即可再次懷孕，但是持續懷孕有損她們的健康[66]。
        </p>
        <p>妊娠毒血症（見紅）是雌性豚鼠懷孕時的常見病，並時有死亡。毒血症的臨床表現包括厭食症、全身乏力、唾液過多，氣息中因含有酮類而帶著甜味或水果味，嚴重時發生癲癇。在炎熱的天氣里，妊娠毒血症貌似最為多見[67]。其它嚴重的懷孕併發症包括子宮脫垂、血鈣過少和乳腺炎[68]。
        </p>
        <h3>飲食習慣</h3>
        <p>青草是豚鼠的天然食物。它們的臼齒尤其適合咀嚼磨牙的植物，而且在它們的一生中都在不停生長[69]。大多數食草的哺乳動物體型較大且消化道偏長[70]。豚鼠的結腸比大多數齧齒動物都長，同時，它們必須吃自己的糞便以補充營養[71]。當然，它們食用排泄物是有選擇的，唯獨吃特別的軟球狀糞便，這種糞便富含維生素B、纖維素以及有助消化的細菌。除非豚鼠懷有身孕或過於肥胖，可食用糞便都是直接從肛門吃掉[45]。這與兔子是一樣的。年齡偏大的雄性豚鼠由於肌肉力量弱，排泄食用軟糞球時比較費勁。這就產生俗稱的「肛塞」，導致它們無法吃到食用糞球，不過硬糞還是能夠從裡面擠出來[72]。主人可以幫它們按摩腹部，幫助糞球排出，把卡住的糞便從肛門裡仔細清理出來，可以暫時緩解豚鼠的困境。
        </p>
        <p>諸如乾燥的貓尾草等新鮮的乾草對豚鼠的健康有益，它們的食用糞球所含的營養來自貓尾草。同時，苜蓿也是一個不錯的選擇；大部分豚鼠非常喜歡吃苜蓿，而且食量驚人，不過給成年豚鼠餵食這種植物是否合適存在一些爭議[73]。有些寵物飼養者和獸醫建議，餵食豆類植物效果更佳，苜蓿可能導致肥胖，除了懷孕的母豬和幼年小豬外,
            其他豚鼠會從苜蓿吸收過多的鈣而患上膀胱結石[74][75]。不過，苜蓿草能夠為它們補充蛋白質、胺基酸和纖維素[76][77]。</p>
        <p>不像其他大多數哺乳動物，和人類一樣，豚鼠自身無法合成維生素C，必須通常富含這種營養成分的食物獲得。如果它們攝取不到足量的維生素C，可能患上致命的壞血病。豚鼠每天大約需要10毫克（0.15格令）維生素C，懷孕的母豚鼠需要20毫克（0.31格令），主要從生鮮果蔬（如蘋果、胡蘿蔔、芹菜和菠菜）或膳食補充劑中獲取[78]。一隻健康的豚鼠需要平衡的鈣、鎂、磷、鉀和氫離子，另外還需要足量的維生素E、A和D[79]。不平衡的膳食可能導致肌肉萎縮症，轉移性鈣化，懷孕困難，維生素缺乏和牙齒疾病[80]。由於豚鼠極易患上膽結石和腎結石，有人建議一定要當心過量攝入鈣元素，限制或杜絕多種維生素補充劑及富含鈣的食物（如市面上出售的奶酪粒、菠菜或含鈣量極高的苜蓿草）[81]。幼年豚鼠知道什麼食物是必要的，什麼食物是不必要的，對於新鮮的果蔬，它們的態度表現得時冷時熱，這種飲食習慣在成年後很難改觀。它們不太習慣飲食突然間發生改變；甚至可能從此絕食挨餓，就是不肯接受新的食物品種[53]。餵食乾草或其它食物最好定量規律，如果連續不斷得餵食這些食物，一旦出現間斷，它們可能會養成咀嚼自己毛皮的習慣[82]。由於豚鼠的牙齒不斷生長，它們需要不停得磨牙，否則牙齒就會從嘴巴里長出來，這是齧齒目動物的常見疾病[38]。豚鼠也咀嚼布料，紙張，塑料和橡皮。
        </p>
        <p>許多植物對豚鼠是有毒的，包括捲心菜、蕨菜、瀉根、毛茛、野芥、顛茄、毛地黃、嚏根草、毒堇、鈴蘭、狗茴香、烏頭、馬鈴薯、女貞、千里光、大黃、婆婆納、雲蘭和扭蘭（Vallisneria
            americana）[83]。另外，任何球莖植物（例如鬱金香和洋蔥）一般也認為對它們是有毒的[83]。
            此外，饅頭、米飯等其他一系列的高澱粉含量的食物對豚鼠的消化系統和循環系統非常不利，容易引起腸胃疾病，嚴重者會引發囊腫，所以需要慎重餵食。</p>
        <h3>健康</h3>
        <p>家養豚鼠常見的小疾病包括呼吸道感染、腹瀉、壞血病（缺乏維生素C，典型表現為活動遲緩）、感染引起的潰瘍（常常發生在脖子上，或是留在喉嚨里的乾草導致的，或是抓傷造成的）以及虱子、蟎蟲或真菌引起的感染[84]。</p>
        <p>疥癬蟲是脫毛的普遍原因，其它的症候可能也包括過分的擦傷，被觸碰時產生過激反應（與疼痛有關），在遭到捕捉時也會發生這種情況[85]。豚鼠的身上可能會寄生豚鼠長虱，這種白色的小昆蟲在它們的發毛間爬動；豚鼠長虱的卵就像黑色或白色的斑點附著在豚鼠的毛髮上，有時被稱為「靜態虱子」。用印楝油香皂給豚鼠洗澡，是除虱的既溫和又有效的方法。諸如卵巢囊腫等潛在疾病引起的荷爾蒙分泌下降也會發生脫毛現象[86]。
        </p>
        <p>有些異物，尤其是小片乾草或稻草，會掉進豚鼠的眼睛裡，造成頻繁得眨眼、流淚，有時導致角膜潰瘍，使它們的眼球表面覆蓋一層不透明的薄膜[87]。乾草和稻草的碎屑會讓它們打噴嚏。雖然豚鼠時不時打噴嚏屬正常現象，不過頻繁得打噴嚏可能是肺炎的症候，尤其是當外界溫度發生變化時。肺炎可能同時伴隨斜頸，是致命的[88]。
        </p>
        <p>豚鼠的身材短小精悍，所以這種動物怕熱不怕冷[89]。它們的體溫通常為101到104華氏度（38.5到40攝氏度）[90]，所以它們理想的環境溫度範圍與人類接近，大約在65到75華氏度之間（18到24攝氏度）[89]。環境溫度持續超過90華氏度（32攝氏度）會導致高熱和死亡，尤其是懷孕的母豚鼠[89]。豚鼠不大適應大風低溫天氣[91]，以及低於30%和高於70%的相對濕度[92]。
        </p>
        <p>豚鼠是被捕食動物，它們的生存本能是掩飾疼痛和症狀。健康問題經常到了非常嚴重或是晚期時才顯現出來。豚鼠性情極其敏感，治療困難，只能使用抗生素，用來殺滅腸內菌叢，其負作用是引起連續腹瀉，有時甚至造成死亡[93]。需注意盤尼西林類和其它一些貓狗常用的抗生素並不適合豚鼠且很有可能造成病鼠死亡[94]。
        </p>
        <p>動物也有遺傳性疾病，如犬科動物的髖骨發育不良，豚鼠有多種遺傳性疾病。最常見的如阿比西尼亞豚鼠的皮毛變成菊青色，這與先天眼疾和消化系統疾病有關[95]。其它的遺傳病還有「華爾茲病」（耳聾並伴有繞圈跑步的傾向），中風和顫抖[96]。
        </p>
        <h3>食物</h3>
        <p>一隻豚鼠如果從小就被舒適地摟抱，那麼長大後對於人類的親昵行為表現得很配合，不會有咬人或爪搔的動作[53]。它們對外界羞怯膽小，很少有從籠子裡逃出去的企圖，即使籠門敞開，它們也不會自己出去[44]。和主人熟悉了之後，當主人接近籠子時，它們會發出口哨聲；如果聽到塑膠袋的沙沙聲或是冰箱門的開啟聲，它們知道這是主人要餵食了，也會發出口哨聲。適當的訓練可以讓他們學會一些把戲。
        </p>
        <p>家養豚鼠品種豐富，均是在運往歐洲和北美洲後培育出來的。主要體現在毛髮和顏色的分別。最常見的寵物品種是英國短毛豬，它們毛短，光滑，阿比西尼亞豬的毛髮豎立不順滑。秘魯豬和雪特蘭豬也是常見的寵物品種，它們毛髮又直又長，而特塞爾豬則長著捲曲的長毛。
        </p>
        <p>「豚鼠俱樂部聯合會」負責展示和繁殖豚鼠，在全世界具有權威性。美國養兔協會的下屬機構美國豚鼠協會是美國和加拿大的主管部門[97]。英國的主管部門是英國豚鼠委員會[98]。在澳大利亞和紐西蘭也有類似的機構[99]。每一個部門都有自己制定的鑑定標準，對展出的品種進行篩選。
        </p>
        <h3>流行文化和媒體</h3>
        <p>豚鼠深受人類喜歡，尤其是孩子們，它們的形象由此經常出現在小說和影視中。其中最值得一提的是，碧特里克斯·波特的童話小說《小小馬戲團》[100]和麥可·邦德的「豚鼠講故事」系列[101]，這兩部文學作品中的主角均是豚鼠。另外還有C·S·路易斯的《魔法師的外甥》：在他的《納尼亞傳奇》系列小說的第一集，第一個在兩個世界中穿行的動物就是一隻豚鼠[102]。艾理斯·帕克·巴勒的官僚諷刺小小說《豬就是豬》中，顧客和鐵路管理員就豚鼠究竟是不是豬而爭執不下，因為這涉及到收費多少的問題[103]。《金倉鼠系列》書中有兩隻豚鼠，分別叫恩里克和卡魯索。
        </p>
        <p>在電影和電視中也有豚鼠的身影。電視電影《謝德里曼規則》中的主要角色都有豚鼠，並擔任次要角色。1998年的電影《杜立德醫生》中的豚鼠羅尼，和電影《神奇寵物》中的豬頭林尼都是片中的重要角色[104]。近20年以來，豚鼠的形象經常出現在廣告當中[105]。其中，著名的布魯克巴斯特影碟公司的廣告掀起一股豬兔共養的風潮[47]。在動畫片《南方公園》的第12季里，豚鼠成了在全世界範圍內橫衝直撞的動物。於2009年由華特迪士尼發行的美國3D電腦動畫電影《超鼠特攻》裡，一群具有高度智慧的豚鼠被美國政府訓練成行動特務，這部電影也改編成電子遊戲，相當受到歡迎。
        </p>
        <p>2021年日本電視定格動畫《PUI PUI 天竺鼠車車》的主角「天竺鼠車車」也是以天竺鼠為原型。</p>
        <h3>科學研究</h3>
        <p>豚鼠用於科學實驗最早可追溯到17世紀，義大利生物學家馬塞羅·馬爾波齊和卡羅·弗蘭卡塞提首先對豚鼠進行活體解剖[106]。1780年，安東尼·拉沃西爾在他的熱量計實驗中使用了一隻豚鼠；這隻豚鼠呼出的熱氣融化了熱量計附近的雪，表明呼吸時的氣體交換是一個燃燒的過程，如同蠟燭燃燒一樣[107]。19世紀晚期，路易斯·帕斯特、艾米莉·魯克斯和羅伯特·考奇確立微生物理論的過程中，豚鼠起到了重要作用[108]。豚鼠參與多次軌道太空航行，1961年3月9日前蘇聯首次把豚鼠放進史波尼克9號生物衛星[109]。1990年中國也發射了一顆生物衛星，上面載有幾隻豚鼠[110]。
        </p>
        <p>在英語裡，豚鼠通常是接受科學實驗品的代名詞。
            1913年，牛津英語詞典在介紹這個單詞時將這個用途放在首個解釋上[111]。1933年，「消費者研究」的創始人F·J·施林克和作家奧瑟·凱勒合寫的書《100000000隻豚鼠》，用這個詞形容成千上萬的消費者[112]。這本書登上全美的暢銷排行榜，使「豚鼠」一詞更加炙手可熱，並激發了人們的保護消費者運動[113]。捷克作家路德維克·沃卡里克的小說《豚鼠》為這個詞賦於了貶低含義，用來隱喻前蘇聯的極權主義[114]。
        </p>
        <p>直至20世紀末，豚鼠一直在實驗室中被大量使用[115]；上世紀60年代僅在美國，每年就有大約250萬隻豚鼠接受科學實驗。以前，它們被廣泛應用在疫苗和抗病毒藥物的標準化，同時也有嚴重過敏反應產生的抗體生產。其次，還有藥理學和放射學。從20世紀中葉，它們大量被老鼠和白鼠所代替。部分原因是人們對於豚鼠的遺傳基因研究落後於對其它的嚙齒類動物，不過遺傳學家
            W·E·卡斯特和塞沃爾·懷特正是在豚鼠的幫助下才發表了大量論文，尤其是皮毛的顏色。2004年，美國國家人類基因組研究協會公布了家養豚鼠的基因圖譜[116]。</p>
        <p class="where">資料來源:維基百科</p>
    </div>

    <div>
        <p></p>
        <p></p>
        <h2 id="description">fd list</h2>
        <form id="survey-form">
            <p>
                <label id="name-label">你的名字</label>
                <input id="name" type="text" required="required" placeholder="請輸入您的名字"></input>
            </p>
            <p>
                <label id="email-label">電子信箱</label>
                <input id="email" type="email" required="required" placeholder="請輸入您的電子信箱"></input>
            </p>
            <p>
                <label id="number-label">數字選單(年齡)</label>
                <input id="number" type="number" inputmode="numeric" min="10" max="99" placeholder="年齡"></input>
            </p>
            <p>
                <label id="dropdown-label">這是下拉選單</label>
                <select id="dropdown">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </p>
            <p>
                <label id="radio-label">單選</label>
                <input type="radio" name="radio1" value="單選1">單選1</input>
                <input type="radio" name="radio1" value="單選2">單選2</input>
                <input type="radio" name="radio1" value="單選3">單選3</input>
                <input type="radio" name="radio1" value="單選4">單選4</input>
                <input type="radio" name="radio1" value="單選5">單選5</input>
            </p>
            <p>
                <label id="checkbox-label">複選</label>
                <input type="checkbox" name="checkbox1" value="複選1">複選1</input>
                <input type="checkbox" name="checkbox1" value="複選2">複選2</input>
                <input type="checkbox" name="checkbox1" value="複選3">複選3</input>
                <input type="checkbox" name="checkbox1" value="複選4">複選4</input>
                <input type="checkbox" name="checkbox1" value="複選5">複選5</input>
            </p>
            <p>評論表單: </p>
            <label id="texarea-label"></label>
            <textarea>
      </textarea>
            <div>
                <button type="submit" id="submit" class="submit-button">
                    Submit
                </button>
            </div>

        </form>

</body>

</html>