<!doctype html>
<html lang="zh-Hant-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>清單元素</title>
    <link rel="stylesheet" href="styles/stbgblack.css" />
    <link rel="stylesheet" href="styles/list.css">
    <style>

    </style>
</head>

<body>
    <a href="https://www.ispan.com.tw" id="ispan1">Ispan</a>
    <a href="list.html">listPagr</a>
    <a href="firstDemo.html">firstDemo</a>
    <a href="freecode.html">freecode</a>
    <a href="hyperlink.html#p1">hyperlink</a>
    <a href="mailto:suc12345@gmail.com">email to me</a>
    <h2>台灣藍鵲</h2>
    <dl>
        <dt>學名:</dt>
        <dd>Urocissa caerules

        </dd>
        <dt>俗名:</dt>
        <dd>
            <ul>
                <li>鳥1</li>
                <li>鳥2</li>
                <li>鳥3</li>
            </ul>
        </dd>
        <dt>分類:</dt>
        <dd>
            <ol>
                <li>鳥仔1</li>
                <li>鳥仔2</li>
                <li>鳥仔3</li>
            </ol>
        </dd>
        <dt>分布:</dt>
        <dd>山裡面</dd>
    </dl>
    <h2>A</h2>
    <!-- ul>li*4 -->
    <ul class="list1">
        <li>一</li>
        <li style="background-color: orange;">二
            <ol class="list2">
                <li class="in">一2345</li>
                <li>二2345</li>
                <li class="out">三2345</li>
            </ol>
        </li>
        <li>三</li>
        <li>四</li>
    </ul>
    <h2>B</h2>
    <ol>
        <li>一</li>
        <li>二</li>
        <li>三</li>
        <li>四</li>
        <li>五</li>
    </ol>
</body>

</html>