<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS使用</title>
</head>

<body style="background-color: gray;">
    <h1 style="font-family: 標楷體;">我是標楷體</h1>
    <span>姆姆</span>
    <span style="color: red;font-size: 24px;font-family: 微軟正黑體;">姆姆</span>
    <span style="color: #00ff00;font-size: 80%;font-family: 新細明體;">姆姆</span>
    <span style="color: rgb(0, 0, 255);font-size: 3em;font-family: 標楷體;">姆姆</span>
    <div style="background-color: #fe00ff; width: auto;margin-left: 10px;margin-right: 10px;">HI</div>
</body>

</html>