<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/st1.css" />
    <style>
        p {
            color: gold;
            text-decoration: underline;
        }
    </style>
</head>


<body>
    <h1 class="st1">阿姆</h1>
    <h1 class="st2">阿姆2</h1>
    <h2 class="st3">英雄</h2>
    <h3 class="st4">英雄3</h3>
    <p>asdasdf</p>
</body>

</html>